body {
  background-image: url("/imgs/8bit-wallpaper.png");
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  .center-me {
    margin: 0 auto;
  }
  .shadow-me{
    text-shadow: 1px 1px #000;
  }
  main {
    flex: 1;
    h2 {
      text-decoration: underline;
      font-size: 2.5rem;
    }

  }
  .first-place {
    color:gold;
  }
  .second-place {
    color: silver;
  }
  .third-place {
    color: rgb(235, 127, 4)
  }
}
