.my-cards{
  @media only screen and (max-width: 1200px) {
  padding-top: 2rem;
  max-width: 100%;
  flex: 100%;
  }
  .bk-opacity{
    background-color: rgba($color: black, $alpha: .5);
  }
  .card-img-top{
    padding: 1px;
  }
}
