.my-cards{
  @media only screen and (max-width: 700px) {
  padding-top: 2rem;
  max-width: 100%;
  flex: 100%;
  }
  .card-img-top{
    padding: 1px;
  }
} 
.bk-opacity{
  background-color: rgba($color: black, $alpha: 0.7);
}
.my-border{
  border: 3px solid #443d3d;
}
