html {
  height: 100%;

  body {
    margin: 0;
    height: 100%;

    .instructions {
      background-color: rgba(0, 0, 0, 0.5);
      position: relative;
      

    }

    .game {
      position: relative;
      background-color: #000;
      color: white;
      height: 80vh;
      padding: 0px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; 
      
      .score {
        position: absolute;
        top: 5px;
        right: 10px;
      }

      .lives {
        position: absolute;
        top: 5px;
        left: 10px;
      }

      .main-text {
        display:none;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 150px;
      }

      .paddle {
        width: 200px;
        height: 30px;
        background-color: #999;
        position: absolute;
        z-index: 1;
        bottom: 0;
      }

      .brick {
        left: 300px;
        top: 200px;
        width: 50px;
        height: 20px;
        background-color: #777;
        position: absolute;
        z-index: 1;
        @media only screen and (max-width:1000px) {
          left: 40px;
          width: 30px;
          top: 80px;
        }
      }

      .ball {
        position: absolute;
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
}
