html {
  height: 100%;

  body {
    margin: 0;
    height: 100%;

    .game {
      position: relative;
      background-color: #000;
      color: white;
      height: 100%;
      padding: 0px;

      .score {
        position: absolute;
        top: 5px;
        right: 10px;
      }

      .lives {
        position: absolute;
        top: 5px;
        left: 10px;
      }

      .main-text {
        display:none;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 150px;
      }

      .paddle {
        width: 200px;
        height: 30px;
        background-color: #999;
        position: absolute;
        z-index: 1;
        bottom: 0;
      }

      .brick {
        left: 100px;
        top: 200px;
        width: 50px;
        height: 20px;
        background-color: #777;
        position: absolute;
        z-index: 1;
        @media only screen and (max-width:500px) {
          left: 40px;
          width: 30px;
        }
      }

      .ball {
        position: absolute;
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
}
