header {
  nav {
    .swe-btn, .eng-btn {
      cursor: pointer;
      height: 24px;
      width: 40px;
    }
    .flag-holder {
      position: absolute;
      right: 10px;
    }
    .no-border{
      border: none;
    }
    .back-hover{
      transition: 0.4s;
    }
    .back-hover:hover{
      background-color: gray;
      color: white;
    }
  }
}
