.high-score{
  .highscoreList tr{
    &:nth-child(1){
      color: #ffff7f;
      animation: glow 1.5s ease-in-out infinite alternate;
      font-weight: bold;
    }
    &:nth-child(2){
      color: #c0c0c0;
      font-weight: bold;
    }
    &:nth-child(3){
      color: #cd7f32;
    }
      text-transform: uppercase;
  }
}
