.high-score{
  .first-place{
    color: lightyellow;
    animation: glow 1.5s ease-in-out infinite alternate;
    font-weight: bold;
  }
  .second-place {
    color: silver;
  }
  .third-place {
    color: rgb(205,127,50);
  }
}
