.history {
  background-color: rgba(0, 0, 0, 0.5);
  .history-img {
    img {
      padding-top: 46px;
      width: 100%;
    }
  }
  p {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}
